<script setup>

</script>

<template>
   <header>
      <nav class="navbar bg-black">
         <div class="container-fluid row">
            <div class="col-md-2 text-center">
               <img src="../assets/logo.png" alt="Logo" class="img-style">
            </div>
            <div class="col-md-10">
               <div class="d-flex justify-content-center align-content-center">
                  <span class="text-white f-size-2rem" >Blog Management</span>
               </div>
            </div>
         </div>
      </nav>
   </header>
</template>