<template>
  <div class="col-md-2 sidebar p-0 bg-white">
    <div class="sidebar-menu">
      <div class="p-4 sidebar-menu-item">
        <i class="fa-solid fa-list-ul"></i>
        <NuxtLink to="/blog/" class="text-decoration-none text-black ms-4">
          List
        </NuxtLink>
      </div>
      <div class="p-4 sidebar-menu-item">
        <i class="fa-regular fa-square-plus"></i>
        <NuxtLink to="/blog/new" class="text-decoration-none text-black ms-4">
          New
        </NuxtLink>
      </div>
      <div class="p-4 sidebar-menu-item">
        <i class="fa-solid fa-magnifying-glass"></i>
        <NuxtLink to="/blog/search" class="text-decoration-none text-black ms-4">
          Search
        </NuxtLink>
      </div>
    </div>
  </div>
</template>