.sidebar-menu .sidebar-menu-item:hover{
    background-color: rgb(228,229,230);
}
.sidebar{
    height: auto;
}
.footer{
    background-color: rgb(73,78,83);
    font-size: 15px;
    display: flex;
    width: 100%;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    /* position:fixed;
    bottom:0; */
}
.bg-gray{
  background-color: rgb(228, 229, 230)
}
.width-50{
  width: 50px;
}
.f-size-2rem{
  font-size: 2rem;
}
.img-style{
  width: 25%;
  height: auto;
}