<template>
  <Form v-slot="{ errors }" @submit="handleSubmit">
    <div class="col-md-12 p-0 my-2">
      <div class="card mx-2">
        <div class="card-header">
          <slot></slot>
        </div>
        <div class="card-body p-0">
          <div class="mx-3">
            <div class="form-group">
              <label>Tiêu đề:</label>
              <Field v-model="blogs.title" name="title" :rules="isRequired" class="form-control" />
              <div class="text-danger">{{ errors.title }}</div>
            </div>
            <div class="form-group">
              <label>Mô tả ngắn:</label>
              <Field v-model="blogs.description" rows="5" class="form-control" :rules="isRequired" name="description" as="textarea">
              </Field>
              <div class="text-danger">{{ errors.description }}</div>
            </div>
            <div class="form-group">
              <label>Chi tiết:</label>
              <Field v-model="blogs.content" rows="8" class="form-control" :rules="isRequired" name="content" as="textarea">
              </Field>
              <div class="text-danger">{{ errors.content }}</div>
            </div>
            <div class="form-group mt-2">
              <label class="me-2">Vị trí:</label>
              <div class="form-check form-check-inline" v-for="address in positionList" :key="address.id">
                <Field v-model="blogs.position" :rules="isRequired" class="form-check-input" type="checkbox" :value="address.id" name="position"/>
                <label class="form-check-label">{{ address.name }}</label>
              </div>
              <div class="text-danger">{{ errors.position }}</div>
            </div>
            <div class="form-group mt-2">
              <label class="me-2">Public:</label>
              <div class="form-check form-check-inline">
                <Field v-model="blogs.is_published" :rules="isRequired" class="form-check-input" name="is_published" type="radio" id="inlineRadio1" value="1" />
                <label class="form-check-label" for="inlineRadio1">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <Field v-model="blogs.is_published" :rules="isRequired" class="form-check-input" name="is_published" type="radio" id="inlineRadio2" value="0" />
                <label class="form-check-label" for="inlineRadio2">No</label>
              </div>
              <div class="text-danger">{{ errors.is_published }}</div>
            </div>
            <div class="row mt-2">
              <div class="form-group col-md-6">
                <label>Loại:</label>
                <Field v-model="blogs.category" :rules="isRequired" as="select" class="form-select" name="category">
                  <option v-for="cate in categoryList" :key="cate.id" :value="cate.id">
                    {{ cate.name }}
                  </option>
                </Field>
                <div class="text-danger">{{ errors.category }}</div>
              </div>
              <div class="form-group col-md-6">
                <label>Date Public</label>
                <Field v-model="blogs.date_public" :rules="isRequired" class="form-control" type="date" name="date_public" />
                <div class="text-danger">{{ errors.date_public }}</div>
              </div>
            </div>
            <div class="d-flex justify-content-center my-3">
              <button class="btn btn-success me-2" type="submit">Submit</button>
              <button class="btn btn-primary me-2" type="reset">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Form>
</template>

<script>
import categoryList from '../../convert/category';
import positionList from '../../convert/position';
import { Field, Form } from 'vee-validate';

export default {
  components: {
    Field,
    Form,
  },
  props: {
    blogs: {},
    isInsert: null, 
  },  
  data() {
    return {
      categoryList: categoryList,
      positionList: positionList,
    };
  },
  methods: {
    /**
     * call emit to insert or update
     */
    handleSubmit() {
      if(this.isInsert){
        this.$emit("insert", this.blogs);
      }else{
        this.$emit("update", this.blogs);
      }
    },

    /**
     * check validate required
     */
    isRequired(value) {
      return value ? true : 'This field is required';
    },
  },
};
</script>
