<template>
  <div class="col-md-12 p-0 mb-2">
    <div class="card mx-2">
      <div class="card-header">
        <h5>Search Blog</h5>
      </div>
      <div class="card-body p-0">
        <form class="m-2" >
          <div class="form-group">
            <label>Title:</label>
            <input
              class="form-control"
              type="text"
              v-model="search_query"
              placeholder="Search"
            />
          </div>
          <div class="d-flex justify-content-center mt-3">
            <button type="button" class="btn btn-outline-success" @click="searchBlog">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name:'BlogSearchForm',
  data(){
    return{
      search_query:''
    }
  },
  methods:{
    /**
     * call SearchBlog at parent component and send search_query
     * */
    searchBlog(){
      this.$emit('searchBlog', this.search_query)
    }
  }
}

</script>