<template>
  <AppHeader />
  <div class="content container-fluid row p-0 bg-gray">
    <AppMenu>
    <div class="col-md-10 p-0 my-2">
      <nuxt />
    </div>
    </AppMenu>
  </div>
  <AppFooter />
</template>