<template>
  <BlogCreateEdit
    :blogs="blogs"
    :isInsert="checkParamId()"
    @update="UpdateItem"
  >
    <h5>Update Blog</h5>
  </BlogCreateEdit>
</template>

<script>
import axiosClient from "../../axiosClient.js";

export default {
  data() {
    return {
      blogs: {},
    };
  },
  created() {
    this.getDataBlog(this.$route.query.id);
  },
  methods: {
    /**
     * get param id on url 
     * @returns mixed
     */
    checkParamId() {
      const id = this.$route.query.id;
      if(id) return false;
      return true;
    },

    /**
     * call api to update blog
     * @returns void
     */
    async UpdateItem() {

        await axiosClient
          .put(`/${this.$route.query.id}`, this.blogs)
          .then((res) => {
            this.$router.push("/blog");
          })
          .catch((error) => {
            console.log(error);
          });
      
    },

    /**
     * call api to get data blog
     * @param id
     * @returns void
     */
    async getDataBlog(id) {
      await axiosClient
        .get(`/${id}`)
        .then((res) => {
          this.blogs = res.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>