<template>
  <BlogSearchForm @searchBlog="SearchBlog" />
  <BlogList :blogs="blogs" />
</template>

<script>
import axiosClient from "../../axiosClient.js";

export default {
  data() {
    return {
      blogs: {},
    };
  },
  created() {
    this.SearchBlog();
  },
  methods: {
    /**
     * search blog by keyword
     * @param searchQuery
     * @returns void
     */
    async SearchBlog(searchQuery='') {
      await axiosClient
        .get(`/?param=${searchQuery}`)
        .then((res) => {
          this.blogs = res.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
